# Python
*.py[cod]
__pycache__/
*.so

# Data
*.csv
*.dat
*.tgz
datasets/
data/

#models
models/

# Environments
.env
.venv
env/
venv/

#Setup
housepred.egg-info/
build/
dist/

#Results
results/
mlruns/